/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* ---------------------------- 
-------    Heading     --------
----------------------------- */

.main-heading {
  text-align: center; 
  line-height: 102px; 
  font-size: 102px; 
  font-weight: 900; 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  color: #292b2b;
  letter-spacing: -3.6px; 
  margin-bottom: 15px; 
  background:linear-gradient(to bottom, #E8E8E8 , #4b75f4);
}

/* ----------------------------------- 
-------       Main Body     ----------
----------------------------------- */
body {
  background-color: #4b75f4;
}

/* ----------------------------------- 
-------  Refresh/Home Buttons --------
----------------------------------- */

.ref-tweets{
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 9px 48px 8px;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 8px;
}

.button-placement {
  margin-bottom: 15px;
}

.return-home{
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 9px 48px 8px;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.user-refresh{
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 9px 48px 8px;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 8px;
}

/* ----------------------------------- 
-------    Tweet Structure    --------
----------------------------------- */
.tweetMessage {
  margin-left:38%;
  margin-right:38%;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  justify-content: center;
  display: flex;
  font-family: 'DomaineText-Light', serif;
  background-color: #3e3f42;
  border: solid white;
  border-style: none solid none solid;
  padding: 5px 10px 5px 10px;
}

.tweetTime {
  margin-left:38%;
  margin-right:38%;
  color: white;
  justify-content: center;
  display: flex;
  margin-bottom: 10px;
  font-size: 12px;
  background-color: #3e3f42;
  border: solid white;
  border-style: none solid solid solid;
  border-radius: 0px 0px 12px 12px;
  padding-bottom: 5px;
}

.tweetUser {
  margin-left:38%;
  margin-right:38%;
  color: white;
  font-style: italic;
  justify-content: center;
  display: flex;
  margin-top: 5px;
  background-color: #3e3f42;
  border: solid white;
  border-style: solid solid none solid;
  border-radius: 12px 12px 0px 0px;
  padding-top: 5px;
}

/* ----------------------------------- 
-------      Main Footer    ----------
----------------------------------- */

.main-footer{
  text-align: center; 
  line-height: 22px; 
  font-size: 22px; 
  font-weight: 900; 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  background-color: #4b75f4;
  letter-spacing: -3.0px; 
  margin-bottom: 15px; 
}